<h2>Game of Thrones characters index</h2>

<%= render partial: 'character', collection: @characters %>
<!-- <% @characters.each do |char| %>
  <p><%= char.name %> from <%=char.house %></p>
<% end %> -->
